<template>
 
  <div class="markdown-con">
    <textarea class='tinymce-textarea' :id='counter'></textarea>
  </div>

</template>

<script>
import tinymce from 'tinymce';
export default {
  props: {
	value : {
		type: String,
		default: () => ''
	},
	counter:''
  },
  
    methods: {
        init () {
			let vm = this;
                tinymce.init({
                    selector: '#'+vm.counter,
                    plugins: [
                        'advlist autolink lists link image charmap print preview hr anchor pagebreak imagetools',
                        'searchreplace visualblocks visualchars code fullpage',
                        'insertdatetime media nonbreaking save table contextmenu directionality',
                        'emoticons paste textcolor colorpicker textpattern imagetools codesample'
                    ],
                     menubar: "",
					 height: "300px",
					  setup: function (editor) {
                        editor.on('init', function (e) {
                             if(vm.value){
                              tinymce.get(vm.counter).setContent(vm.value);
							 }
                        });
                        editor.on('blur', function (e) {
						  console.log(tinyMCE.activeEditor.getContent());
							vm.$emit('input', tinyMCE.activeEditor.getContent())
                            localStorage.editorContent = tinyMCE.activeEditor.getContent();
                        });
                    }
               
                });
            
        }
    },
    mounted () {
        this.init();
    },
    destroyed () {
       tinymce.get(this.counter).destroy();
    },
	
	 watch: {
	value(newVal){
	   if (newVal) {
         tinymce.get(this.counter).setContent(newVal);
      }
	}
  },

}
</script>
