<template>
	<div class="">

		<div>
			<Row class="ivu-card-body">
				<Col span="12">
					<Button @click="handleFilterStatus" type="primary" icon="funnel">Filter</Button>
				</Col>
			</Row>

			<div v-show="filter_is_appear">
				<Row class="ivu-card-body">
					<transition name="add-new-tag">
						<div>
							<Col span="7">
								<Input v-model="keywords" placeholder="Type Keywords..." style="width: 150px" />
							</Col>
							<Col span="10">
								<span @click="handleSearch" style="margin: 0 10px;"><Button type="primary" icon="search">Search</Button></span>
								<Button @click="handleResetSearch" type="ghost" >Reset</Button>
							</Col>
						</div>
					</transition>
				</Row>
			</div>
		</div>
		<Row :gutter="16">
			<Col span="24">
				<can-edit-table refs="userTable" ref="userTableRef"  @on-current-change="handleCurrentRow"  :hoverShow="false" :highlightRow="true" :columns-list="columnsList" v-model="all_users"></can-edit-table>
				<div style="margin: 10px;overflow: hidden">
					<div style="float: right;">
						<Page :page-size="usersPaginate.per_page" :total="usersPaginate.total" :current="usersPaginate.current_page" @on-change="changePage"></Page>
					</div>
				</div>
			</Col>
		</Row>

	</div>
</template>

<script>
import canEditTable from '../my-components/tabels/canEditTable.vue';
import { mapGetters, mapActions } from 'vuex';

export default {
	data () {
		return {
			page: 1,
			keywords: null,
			filter_is_appear: false,
			selected_row: null,
			columnsList:[
				{ title: '#', type: 'index', width: 80, align: 'center' },
				{
					title: 'Full Name',
					key: 'type',
					align: 'center',
					render: (h, params) => {
						let { first_name, last_name } = params.row;
						return h('div', first_name + ' ' + last_name);
					}
				},
				{
					title: 'Mobile number', key: 'mobile_number', align: 'center',
					render: (h, params) => {
						return h('div', params.row.mobile_number);
					}
				},
				{
					title: 'Email', key: 'email', align: 'center',
					render: (h, params) => {
						return h('div', params.row.email);
					}
				},

			]}
		},
		components: {
			canEditTable
		},
		props : [
			'filters',
		],
		methods: {
			...mapActions([
				'getAllUsers',
				'updateAllUsers',
			]),

			handleFilterStatus () {
				this.filter_is_appear = !this.filter_is_appear;
			},

			handleSearch () {
				let query = this.filters;
				if (this.keywords) {
					query.push('first_name=like:' + this.keywords);
					query.push('last_name=like:' + this.keywords);
				}

				query.push('page='+this.page);
				if (query.length > 0) {
					this.getAllUsers(query.join('&'));
				}
			},
			handleResetSearch () {
				this.keywords = null;
				let query = this.filters;
				query.push('page=1');
				this.getAllUsers(query.join('&'));
			},

			changePage (page) {
				this.page = page;
				let params = 'page='+this.page;
				let query = this.filters;
				query.push('page='+this.page);
				this.getAllUsers(query.join('&'));
			},

			handleCurrentRow: function (row) {
				this.selected_row = row;
				this.$emit('on-select', this.selected_row);
			},
			clearRow(){
				let userTableRef = this.$refs.userTableRef;
				userTableRef.clearRow('user');
			},

			init() {
				let query = this.filters;
				query.push('page='+this.page);
				this.getAllUsers(query.join('&'));
			}
		},
		computed: {
			...mapGetters([
				'allUsers',
				'usersPaginate'
			]),
			 all_users: {
			 	get () { return this.allUsers; },
			 	set (value) { this.updateAllUsers(value); }
			 },

		},
		activated(){
			this.init();
		},
	}
	</script>
