<template lang="html">
  <div>
    <Row :gutter="16">
      <Col span="24">
        <GmapMap
        :center="mapCenter"
        :zoom="7"
        map-type-id="terrain"
        style="height: 300px"
        >
        <!-- <GmapMarker
        :key="index"
        v-for="(m, index) in markers"
        :position="m.position"
        :clickable="true"
        :draggable="true"
        @click="center=m.position"
      />
      </GmapMap> -->

        <GmapMarker
        v-if="markerPosition"
        :position="markerPosition"
        :clickable="true"
        :draggable="true"
        @dragend="handleMarkerChange"
      />
      </GmapMap>
    </Col>
    <Col span="24" v-if="showBtn">
      <br/>
      <div class="ivu-modal-footer footer">
	   <div v-if="!on_view">
        <Button @click="handleCancle" type="ghost">
          <span>Cancel</span>
        </Button>
        <Button @click="handleSave" type="primary">
          <span>Save</span>
        </Button>
	   </div>
       <div v-else>
	     <Button @click="handleCancle" type="ghost">
          <span>Close</span>
        </Button>
	   </div>
      </div>
    </Col>
  </Row>
</div>
</template>

<script>
export default {
  data () {
    return {
      markerPosition: {lat: 0.0, lng: 0.0},
      mapCenter: {lat: 0.0, lng: 0.0},
    }
  },
  props: {
    'showBtn': {
      type: Boolean,
      default: () => {
        return true;
      }
    },
    'markers': {
      type: Array,
      default: () => {
        return [];
      }
    },
    'marker': {
      type: Object,
      default: () => {
        return this.center;
      }
    },
    'center': {
      type: Object,
      default: () => {
        return {
          lat: 24.7241504,
          lng: 46.2620616,
        }
      }
    },
	'on_view' : Boolean
  },
  methods: {
    handleCancle: function() {
      this.$emit('on-close');
    },
    handleSave: function () {
      this.$emit('on-save', this.markerPosition);
    },
    handleMarkerChange: function (position) {
      this.markerPosition = {
        lat: position.latLng.lat(),
        lng: position.latLng.lng()
      }
    }
  },
  created(){
    if (this.marker && this.marker.lat && this.marker.lng){
      this.markerPosition = { lat: parseFloat(this.marker.lat), lng: parseFloat(this.marker.lng)};
    } else {
      this.markerPosition = this.center;
    }
    this.mapCenter = this.center;
  },

  watch: {
    marker(value){
      if (value.lng && value.lat) {
        let position = { lat: parseFloat(value.lat), lng: parseFloat(value.lng)};
        this.markerPosition = position;
        this.mapCenter = position;
      }
    }
  }
}
</script>

<style>
.ivu-modal-footer{
  border-top: none !important;
  padding: 0px 18px !important;
  padding-bottom : 10px !important;
}
</style>
