<template>
 
    <full-calendar ref="calendar" :events="events" @event-selected="eventSelected"  :config="config" :selectable="false"></full-calendar>

</template>

<script>
import moment from 'moment';
export default {
  name: 'app',
  props:['config','events'],
  data() {
    return {
      selected: {},
    };
  },
  methods: {
    refreshEvents() {
      this.$refs.calendar.$emit('refetch-events');
    },
    removeEvent() {
      this.$refs.calendar.$emit('remove-event', this.selected);
      this.selected = {};
    },
    eventSelected(event) {
      this.selected = event;
    },
  },
  computed: {
    
  },
  created(){
   console.log(this.events);
   console.log(moment().weekday());
  }
};
</script>
