<template lang="html">
  <Row :gutter="16" type="flex" justify="center">
    <Col :span="(this.lang == 'en' ? '24' : '11')" class="form-area" v-show = "(this.lang == 'en' || !this.lang ? true : false)">
      <Form ref="englishFormArea" :model="schema_obj" label-position="top">
      <Row :gutter="16">
        <Col span="24" v-show = "this.lang == ''"> <h3>English Preview</h3> </Col>
        <Col span="24" v-for="(opt, index) in schema_obj.schema_rows" :key="index" class="form-item">

          <FormItem
          v-if="['text', 'email', 'password'].includes(opt.type)"
          :label="opt.label_en"
          :prop="'schema_rows.' + index + '.value_string'"
          :rules="{ required: opt.required, message: opt.label_en +' can not be empty', trigger: 'blur' }">
            <Input v-model="opt.value_string" :id="opt.name" :type="opt.type" class="validate" :required="opt.required"></Input>
          </FormItem>

          <FormItem
          :prop="'schema_rows.' + index + '.value_boolean'"
          :rules="{ required: opt.required, message: opt.label_en +' can not be empty', trigger: 'change' }"
           v-if="opt.type == 'checkbox'">
            <Checkbox v-model="opt.value_boolean">{{opt.label_en}}</Checkbox>
          </FormItem>

          <div class="split" v-if="opt.type == 'split'">
						<label :for="opt.name">{{opt.label_en}}</label>
					</div>

          <FormItem
          :label="opt.label_en"
          :prop="'schema_rows.' + index + '.value_string'"
          :rules="{ required: opt.required, message: opt.label_en +' can not be empty', trigger: 'blur' }"
          v-if="opt.type == 'date'">
            <DatePicker v-model="opt.value_string" :id="opt.name" :required="opt.required" placement="bottom-end" placeholder="Select date"></DatePicker>
          </FormItem>

          <FormItem
          :label="opt.label_en"
          :prop="'schema_rows.' + index + '.value_string'"
          :rules="{ required: opt.required, message: opt.label_en +' can not be empty', trigger: 'blur' }"
          v-if="opt.type == 'time'">
            <TimePicker v-model="opt.value_string" :id="opt.name" :required="opt.required" placement="bottom-end" placeholder="Select time"></TimePicker>
          </FormItem>

          <FormItem
          :label="opt.label_en"
          :prop="'schema_rows.' + index + '.value_string'"
          :rules="{ required: opt.required, message: opt.label_en +' can not be empty', trigger: 'blur' }"
          v-if="opt.type == 'select'">
            <Select v-model="opt.value_string">
              <Option v-for="(option, index) in opt.values" :key="index" :value="option.value" >{{option.label_en}}</Option>
            </Select>
          </FormItem>

          <FormItem
          :label="opt.label_en"
          :prop="'schema_rows.' + index + '.value_string'"
          :rules="{ required: opt.required, message: opt.label_en +' can not be empty', trigger: 'blur' }"
          v-if="opt.type == 'textarea'">
            <Input v-model="opt.value_string" type="textarea" :id="opt.name" :rows="6"></Input>
          </FormItem>

          <FormItem
          :label="opt.label_en"
          :prop="'schema_rows.' + index + '.value_string_array'"
          :rules="{ required: opt.required, type: 'array', min: opt.choises ,message: opt.label_en +' can not be empty', trigger: 'change' }"
          v-if="opt.type == 'checkbox-group'">
            <CheckboxGroup v-model="opt.value_string_array">
                <Checkbox v-for="(option, index) in opt.values" :key="index" :label="option.value">
                    <span>{{option.label_en}}</span>
                </Checkbox>
            </CheckboxGroup>
          </FormItem>

          <FormItem
          :label="opt.label_en"
          :prop="'schema_rows.' + index + '.value_string'"
          :rules="{ required: opt.required, message: opt.label_en +' can not be empty', trigger: 'change' }"
          v-if="opt.type == 'radio-group'">
            <RadioGroup v-model="opt.value_string">
                <Radio v-for="(option, index) in opt.values" :key="index" :label="option.value">
                    <span>{{option.label_en}}</span>
                </Radio>
            </RadioGroup>
          </FormItem>

          <FormItem :label="opt.label_en" v-if="opt.type == 'file'">
            <Upload action="" :multiple="opt.multiple">
                <Button type="ghost" icon="ios-cloud-upload-outline">{{opt.label_en}}</Button>
            </Upload>
          </FormItem>

          <FormItem
          :label="opt.label_en"
          :prop="'schema_rows.' + index + '.value_boolean'"
          :rules="{ required: opt.required, message: opt.label_en +' can not be empty', trigger: 'blur' }"
          v-if="opt.type == 'switch'">
            <i-switch size="large" v-model="opt.value_boolean">
              <span slot="open">{{opt.labelActive}}</span>
              <span slot="close">{{opt.labelInactive}}</span>
            </i-switch>
          </FormItem>

          <FormItem
          :label="opt.label_en"
          :prop="'schema_rows.' + index + '.value_int'"
          :rules="{ required: opt.required, message: opt.label_en +' can not be empty', trigger: 'blur' }"
          v-if="opt.type == 'range'" >
            <Slider v-model="opt.value_int" :id="opt.name" :min="opt.values.min" :max="opt.values.max"></Slider>
          </FormItem>
        </Col>
      </Row>
    </Form>
    </Col>

    <!-- Arabic Preview -->

    <Col :span="(this.lang == 'en' ? '24' : '11')" class="form-area arabic-preview" v-show = "(this.lang == 'ar' || !this.lang ? true : false)">
      <Form ref="arabicFormArea" :model="schema_obj" label-position="top">
      <Row :gutter="16">
        <Col span="24" v-show = "this.lang == ''">  <h3>Arabic Preview</h3></Col>
        <Col span="24" v-for="(opt, index) in schema_obj.schema_rows" :key="index" class="form-item">

          <FormItem
          :label="opt.label_ar"
          v-if="['text','email','password'].includes(opt.type)"
          :prop="'schema_rows.' + index + '.value_string'"
          :rules="{ required: opt.required, message: opt.label_ar +' can not be empty', trigger: 'blur' }"
          >
            <Input v-model="opt.value_string" :id="opt.name" :type="opt.type" class="validate" :required="opt.required"></Input>
          </FormItem>

          <FormItem
          :prop="'schema_rows.' + index + '.value_boolean'"
          :rules="{ required: opt.required, message: opt.label_en +' can not be empty', trigger: 'change' }"
          v-if="opt.type == 'checkbox'">
            <Checkbox v-model="opt.value_boolean">{{opt.label_ar}}</Checkbox>
          </FormItem>

          <div class="split" v-if="opt.type == 'split'">
						<label :for="opt.name">{{opt.label_ar}}</label>
					</div>

          <FormItem
          :label="opt.label_ar"
          :prop="'schema_rows.' + index + '.value_string'"
          :rules="{ required: opt.required, message: opt.label_en +' can not be empty', trigger: 'blur' }"
          v-if="opt.type == 'date'">
            <DatePicker v-model="opt.value_string" :id="opt.name" :required="opt.required" placement="bottom-end" placeholder="Select date"></DatePicker>
          </FormItem>

          <FormItem
          :label="opt.label_ar"
          :prop="'schema_rows.' + index + '.value_string'"
          :rules="{ required: opt.required, message: opt.label_en +' can not be empty', trigger: 'blur' }"
          v-if="opt.type == 'time'">
            <TimePicker v-model="opt.value_string" :id="opt.name" :required="opt.required" placement="bottom-end" placeholder="Select time"></TimePicker>
          </FormItem>

          <FormItem
          :label="opt.label_ar"
          :prop="'schema_rows.' + index + '.value_string'"
          :rules="{ required: opt.required, message: opt.label_en +' can not be empty', trigger: 'blur' }"
          v-if="opt.type == 'select'">
            <Select v-model="opt.value_string">
              <Option v-for="(option, index) in opt.values" :key="index" :value="option.value" >{{option.label_ar}}</Option>
            </Select>
          </FormItem>

          <FormItem
          :label="opt.label_ar"
          :prop="'schema_rows.' + index + '.value_string'"
          :rules="{ required: opt.required, message: opt.label_en +' can not be empty', trigger: 'blur' }"
          v-if="opt.type == 'textarea'">
            <Input v-model="opt.value_string" type="textarea" :id="opt.name" :rows="6"></Input>
          </FormItem>

          <FormItem
          :label="opt.label_ar"
          :prop="'schema_rows.' + index + '.value_string_array'"
          :rules="{ required: opt.required, message: opt.label_en +' can not be empty', trigger: 'change' }"
          v-if="opt.type == 'checkbox-group'">
            <CheckboxGroup v-model="opt.value_string_array">
                <Checkbox v-for="(option, index) in opt.values" :key="index" :label="option.value">
                    <span>{{option.label_ar}}</span>
                </Checkbox>
            </CheckboxGroup>
          </FormItem>

          <FormItem
          :label="opt.label_ar"
          :prop="'schema_rows.' + index + '.value_string'"
          :rules="{ required: opt.required, message: opt.label_en +' can not be empty', trigger: 'change' }"
          v-if="opt.type == 'radio-group'">
            <RadioGroup v-model="opt.value_string">
                <Radio v-for="(option, index) in opt.values" :key="index" :label="option.value">
                    <span>{{option.label_ar}}</span>
                </Radio>
            </RadioGroup>
          </FormItem>

          <FormItem :label="opt.label_ar" v-if="opt.type == 'file'">
            <Upload action="" :multiple="opt.multiple">
                <Button type="ghost" icon="ios-cloud-upload-outline">{{opt.label_ar}}</Button>
            </Upload>
          </FormItem>

          <FormItem
          :label="opt.label_ar"
          :prop="'schema_rows.' + index + '.value_boolean'"
          :rules="{ required: opt.required, message: opt.label_en +' can not be empty', trigger: 'blur' }"
          v-if="opt.type == 'switch'">
            <i-switch size="large" v-model="opt.value_boolean">
              <span slot="open">{{opt.labelActive}}</span>
              <span slot="close">{{opt.labelInactive}}</span>
            </i-switch>
          </FormItem>

          <FormItem
          :label="opt.label_ar"
          :prop="'schema_rows.' + index + '.value_int'"
          :rules="{ required: opt.required, message: opt.label_en +' can not be empty', trigger: 'blur' }"
          v-if="opt.type == 'range'">
            <Slider v-model="opt.value_int" :id="opt.name" :min="opt.values.min" :max="opt.values.max"></Slider>
          </FormItem>
        </Col>
      </Row>
    </Form>
    </Col>

  </Row>
</template>

<script>
export default {
	name: 'form-preview',
	props: ['schema','lang'],
  data () {
    return {
      schema_obj: {
        schema_rows: [],
      },
      schema_lang : ''
    }
  },
	methods:{
		concatId: function(item,option){
			return item.name + option.value;
		},
    validateForm: function () {
      let status = false;
      if (this.$refs.englishFormArea && (this.lang == 'en' || !this.lang))
      {
        this.$refs.englishFormArea.validate((valid) => {
          if (!valid) {
            this.$Message.error('Fail!, please fill all required data', 300);
            status = false;
          }
          else
          {
            status = true;
          }
          return status;
        });
      }
      if (this.$refs.arabicFormArea && (this.lang == 'ar' || !this.lang))
      {
        this.$refs.arabicFormArea.validate((valid) => {
          if (!valid) {
            this.$Message.error('Fail!, please fill all required data', 300);
            status = false;
          }
          else
          {
            status = true;
          }
          return status;
        });
      }
      if (status)
      {
        this.$emit('on-schema-change', this.schema_obj.schema_rows);
      }
      return status;
    },
	},
	computed: {},
	watch: {
    schema(newVal) {
      if (newVal) {
  			if (newVal instanceof Array) {
  				this.schema_obj.schema_rows = newVal
  			} else {
  				this.schema_obj.schema_rows = JSON.parse(newVal);
  			}
  		}
    },
    schema_obj(newVal) {
      if (newVal) {
        //validateForm
  			this.$emit('on-schema-change', newVal.schema_rows)
  		}
    },
	lang(newVal) {
      if (newVal) {
  		 this.schema_lang = newVal;
  	  }
    }
  },
  created() {
		if (this.schema) {
			if (this.schema instanceof Array) {
				this.schema_obj.schema_rows = this.schema
			} else {
        let schema = this.schema;//.replace(/\\/g, "");
        // schema = JSON.stringify(schema);
				this.schema_obj.schema_rows = JSON.parse(schema);
			}
		}
	}
}
</script>

<style scoped>
.form-area > form{
	background-color: #f7f6f6;
	padding: 45px 45px 0px 45px !important;
  margin: 5px;
}
.ivu-slider-bar {
	background: #40a69a !important;
}
.ivu-slider-button-dragging, .ivu-slider-button:focus, .ivu-slider-button:hover {
	border-color: #40a69a !important;
}
.slider-bar .ivu-slider-wrap .ivu-slider-bar {
	background-color: #40a69a;
}
label {
	font-size: 1rem;
}
h3 {
  color: #2d8cf0;
}
.arabic-preview {
  direction: rtl;
  text-align: right;
}
.split {
	border-bottom: 3px dashed #c2c2c2;
	font-weight: 700;
	color: #495060;
	padding: 5px 0px;
}
.form-item {
  padding: 5px 0px;
}
.ivu-switch-large.ivu-switch-checked:after, .ivu-switch-checked:after {
  left: 73% !important;
}
.ivu-switch-large {
  min-width: 80px !important;
}
</style>
