<template>
	<div>
		<div class="row">
			<div class="col s12 m4">
				<draggable element="ul" :list="components" class="collection dragArea" :options="componentsOptions" :clone="onClone">
					<li v-for="component in components" class="collection-item">
						<Icon :type="getIcon(component.type)" size="18"></Icon> {{component.label_en}}
					</li>
				</draggable>
				<!-- <div v-if="formItems.length > 0">
					<a class="btn right waves-effect red" @click.stop="clearItems()">Clear</a>
				</div> -->
			</div>
			<div class="col s12 m8">
				<Form label-position="top">
				<draggable element="Collapse" data-collapsible="accordion" :list="formItems" :class="['collapsible dropArea', !formItems.length ? 'empty' : '']" :options="formOptions" :move="onMove" @start="isDragging=true" @end="isDragging=false" data-content="Drag and drop your fields here">
						<Panel v-for="(item, index) in formItems" :key="index" :name="'panel-' + index">
							<div class="dragHeader">
								<Icon :type="getIcon(item.type)" size="18"></Icon> {{item.label_en || item.label_en}}
								<div class="right">
									<i style="font-size:22px;padding:0px 5px 0px 5px" :class="item.fixed? 'ivu-icon ivu-icon-locked' : 'ivu-icon ivu-icon-unlocked'" @click.stop="item.fixed = !item.fixed" aria-hidden="true"></i>
									<i style="font-size:25px;padding:0px 5px 0px 5px" class="ivu-icon ivu-icon-android-delete" @click.stop="destroy(index)" aria-hidden="true"></i>
								</div>
							</div>
							<div slot="content">
								<input type="checkbox" :id="item.name + '-required'" :checked="item.required" @click.stop="item.required = !item.required"  />
								<label :for="item.name + '-required'">Required</label>
								<div v-if="['select', 'file'].includes(item.type)">
									<br>
									<input type="checkbox" :id="item.name + '-multiple'" :checked="item.multiple" @click.stop="item.multiple = !item.multiple"  />
									<label :for="item.name + '-multiple'">Multiple</label>
								</div>
								<div class="input-field" v-if="['checkbox-group'].includes(item.type)">
									<input :id="item.name + '-choises'" type="number" v-model.number="item.choises">
									<label :for="item.name + '-choises'">At least choises</label>
								</div>
								<div class="input-field">
									<FormItem label="Help text">
										<Input :id="item.name + '-description'" v-model="item.description" type="text" class="active"></Input>
									</FormItem>
								</div>

								<div class="input-field">
									<Row :gutter="16">
										<Col span="12">
											<FormItem label="English Label">
												<Input :id="item.name + '-label'" v-model="item.label_en" type="text" class="active"></Input>
											</FormItem>
										</Col>
										<Col span="12">
											<FormItem label="Arabic Label">
												<Input :id="item.name + '-label'" v-model="item.label_ar" type="text" class="active"></Input>
											</FormItem>
										</Col>
									</Row>
								</div>

								<div class="input-field">
									<FormItem label="Field Name (Auto generated)">
										<Input :id="item.name + '-name'" v-model="item.name" type="text" class="active"></Input>
									</FormItem>
								</div>

								<div v-if="item.type == 'range'">
									<div class="input-field">
										<FormItem class="active" label="Min">
											<InputNumber :id="item.name + '-label'" v-model.number="item.values.min"></InputNumber>
										</FormItem>
									</div>

									<div class="input-field">
										<FormItem class="active" label="Max">
											<InputNumber :id="item.name + '-label'" v-model.number="item.values.max"></InputNumber>
										</FormItem>
									</div>
								</div>

								<div v-if="['text', 'password', 'email'].includes(item.type)">
									<label>Type</label>
									<select v-model="item.type"  class="browser-default">
										<option  v-for="(option, index) in optionType" :key="index" :value="option.value" >{{option.label_en}}</option>
									</select>
								</div>

								<div v-if="item.type == 'switch'">
									<div class="input-field">
										<FormItem label="Label active">
											<Input :id="item.name + '-labelActive'" v-model="item.label_enActive" type="text" class="active"></Input>
										</FormItem>
									</div>
									<div class="input-field">
										<FormItem label="Label inactive">
											<Input :id="item.name + '-labelInactive'" v-model="item.label_enInactive" type="text" class="active"></Input>
										</FormItem>
									</div>
								</div>

								<div v-if="['checkbox-group', 'radio-group', 'select'].includes(item.type)">
									<label>Values</label>
									<draggable element="ul" :list="item.values" class="collection" :options="{group:{name:'item.values'}}">
										<li v-for="(option, index) in item.values" :key="index" class="collection-item grey lighten-5">
											<div class="row no-margin-bot">
												<div class="col s4 input-field">
													<FormItem class="active" label="English Label">
														<Input :id="'option-label-' + index" type="text" v-model="option.label_en"></Input>
													</FormItem>
												</div>
												<div class="col s4 input-field">
													<FormItem class="active" label="Arabic Label">
														<Input :id="'option-label-' + index" type="text" v-model="option.label_ar"></Input>
													</FormItem>
												</div>
												<div class="col s3 input-field">
													<FormItem class="active" label="Value">
														<Input :id="'option-value-' + index" type="text" v-model="option.value"></Input>
													</FormItem>
												</div>
												<div class="middle" v-if="item.values.length > 2">
													<i class="mdi mdi-close" @click.stop="removeOption(item.values, index)"></i>
												</div>
											</div>
										</li>
									</draggable>
									<div class="row">
										<a class="btn right waves-effect vue-green" @click.stop="addOption(item.values)">Add option</a>
									</div>
								</div>
							</div>
						</Panel>
				</draggable>
			</Form>
			</div>
		</div>
	</div>
</template>

<script>
import draggable from 'vuedraggable';
import FormPreview from './form-preview.vue';
import 'materialize-css';

export default {
	name: 'form-builder',
	components: { draggable, FormPreview },
	props: ['schema'],
	data () {
		return {
			components: [
				{
					label_en: "Section Split",
					label_ar: "Section Split",
					type: "split",
				},
				{
					label_en: "Checkbox",
					label_ar: "Checkbox",
					type: "checkbox"
				},
				{
					label_en: "Checkbox group",
					label_ar: "Checkbox group",
					type: "checkbox-group",
					values: [
						{
							label_en: "Option 1",
							label_ar: "Option 1",
							value: "option-1",
							choises: 1,
							selected: false
						},
						{
							label_en: "Option 2",
							label_ar: "Option 2",
							value: "option-2",
							choises: 1,
							selected: false
						},
						{
							label_en: "Option 3",
							label_ar: "Option 3",
							value: "option-3",
							choises: 1,
							selected: false
						}
					]
				},
				{
					label_en: "Radio group",
					label_ar: "Radio group",
					type: "radio-group",
					values: [
						{
							label_en: "Option 1",
							label_ar: "Option 1",
							value: "option-1",
							selected: false
						},
						{
							label_en: "Option 2",
							label_ar: "Option 2",
							value: "option-2",
							selected: false
						},
						{
							label_en: "Option 3",
							label_ar: "Option 3",
							value: "option-3",
							selected: false
						}
					]
				},
				{
					label_en: "Text field",
					label_ar: "Text field",
					type: "text",
				},
				{
					label_en: "Textarea",
					label_ar: "Textarea",
					type: "textarea"
				},
				{
					label_en: 'Select',
					label_ar: 'Select',
					type: 'select',
					multiple: false,
					values: [
						{
							label_en: "Option 1",
							label_ar: "Option 1",
							value: "option-1",
							selected: false
						},
						{
							label_en: "Option 2",
							label_ar: "Option 2",
							value: "option-2",
							selected: false
						},
						{
							label_en: "Option 3",
							label_ar: "Option 3",
							value: "option-3",
							selected: false
						}
					]
				},
				{
					label_en: "File input",
					label_ar: "File input",
					type: "file",
					multiple: false
				},
				{
					label_en: "Date field",
					label_ar: "Date field",
					type: "date",
				},
				{
					label_en: "Time field",
					label_ar: "Time field",
					type: "time",
				},
				{
					label_en: "Switch field",
					label_ar: "Switch field",
					type: "switch",
					labelActive: 'Active',
					labelInactive: 'Inactive'
				},
				{
					label_en: "Range Field",
					label_ar: "Range Field",
					type: "range",
					values: {
						min:0,
						max:100
					}
				},
			],
			formItems:[],
			optionType: [
				{
					label_en: "Text",
					label_ar: "Text",
					value: "text",
				},
				{
					label_en: "Email",
					label_ar: "Email",
					value: "email",
				},
				{
					label_en: "Password",
					label_ar: "Password",
					value: "password",
				},
			],
			icons:{
				'checkbox': "android-checkbox-outline",
				'checkbox-group': "android-done-all",
				'radio-group': "android-radio-button-on",
				'text': "edit",
				'textarea': "document",
				'select': 'android-arrow-dropdown-circle',
				'file': "android-upload",
				'date': "android-calendar",
				'time': "clock",
				'switch': "toggle",
				'range': "code-working",
				'split': "more",
			},
			isDragging: false,
			delayedDragging:false
		}
	},
	methods:{
		onMove ({relatedContext, draggedContext}) {
			const relatedElement = relatedContext.element;
			const draggedElement = draggedContext.element;
			return (!relatedElement || !relatedElement.fixed) && !draggedElement.fixed
		},
		onClone (el) {
			var input = JSON.parse(JSON.stringify(el));
			input.name = input.type + '-' + Date.now();
			input.fixed = false;
			input.required = false;
			input.description = '';

			return input
		},
		destroy (index) {
			this.formItems.splice(index, 1)
		},
		addOption (values) {
			values.push({
				label_en: "Option "+ Date.now(),
				value: "option-"+ Date.now()
			})
		},
		removeOption (values, index) {
			values.splice(index, 1)
		},
		clearItems () {
			this.formItems =[];
		},
		getIcon(type) {
			return this.icons[type];
		},
	},
	computed: {
		componentsOptions () {
			return  {
				sort: false,
				group:{
					name:'components',
					pull:'clone',
					put:false
				}
			}
		},
		formOptions () {
			return  {
				// handle: '.collapsible-header',
				// handle: '.dragHeader',
				handle: '.ivu-collapse-item',
				group:{
					name:'components'
				}
			}
		},
		listString(){
			return JSON.stringify(this.formItems);
		}
	},
	watch: {
		isDragging (newValue) {
			if (newValue){
				this.delayedDragging= true
				return
			}
			this.$nextTick( () =>{
				this.delayedDragging =false
			})
		},
		formItems(newValue) {
			this.$emit('on-schema-change', newValue);
		},
		schema(newValue) {
			this.formItems = newValue;
		},
	},
	created() {
		if (this.schema) {
			if (this.schema instanceof Array) {
				this.formItems = this.schema
			} else {
				this.schema = this.schema.replace(/\\/g, "");
				this.formItems = JSON.parse(this.schema);
			}
		}
	}
}
</script>

<style scoped src="materialize-css/dist/css/materialize.css"></style>
<style>
.vue-green {
	background: #41b883 !important;
}

.mdi {
	font-size: 1.4em;
}

.mdi-pin, .mdi-pin-off, .mdi-close {
	cursor: pointer;
}

.mdi:before {
	vertical-align: bottom;
}

.collection-item {
	cursor: move;
}

.dropArea {
	position: relative;
	background: #f5f5f5;
	min-height: 440px;
	/* padding: 10px 0; */
}

.dropArea.empty {
	opacity: 0.5;
	border: 1px dashed black;
	border-width: 3px;
	box-shadow: none;
}

.dropArea.empty:after {
	content: attr(data-content);
	position: absolute;
	text-align: center;
	top: 50%;
	left: 0;
	width: 100%;
}

.collapsible-header {
	width: 100%;
}

.collapsible-body {
	padding: 1rem 2rem !important;
	width: 100%;
	background: #fff;
}

.middle {
	height: 56px;
	line-height: 56px;
	text-align: center
}

.no-margin-bot {
	margin-bottom: 0 !important;

}

input {
	margin-bottom: 5px !important;
}

.sortable-ghost {
	opacity: 0;
}

.dragHeader {
    display: inline;
}

.dragHeader > .right {
	display: flex;
}

.dropArea.ivu-collapse>.ivu-collapse-item>.ivu-collapse-header {
	height: 46px;
	background: #f1f1f1;
}
.dropArea.ivu-collapse>.ivu-collapse-item {
	border-top: none;
  border-bottom: 1px solid #dddee1;
}

</style>
