<template lang="html">
  <Row :gutter="16">
    <Col span="11" v-if="showEnglish == true">
      <Form label-position="left">
        <Row :gutter="16">
          <Col span="24" v-for="(opt, index) in schema_rows" :key="index" class="form-item">

            <Row :gutter="16" v-if="['text','email','password', 'date', 'time', 'textarea'].includes(opt.type)">
              <Col span="12">
                <span>{{opt.label_en}}: </span>
              </Col>
              <Col span="12">
                <span>{{opt.value_string}}</span>
              </Col>
            </Row>

            <Row :gutter="16" v-if="opt.type == 'checkbox'">
              <Col span="24">
                <Checkbox disabled :value="opt.value_boolean || false">{{opt.label_en}}</Checkbox>
              </Col>
            </Row>

            <div class="split" v-if="opt.type == 'split'">
              <label :for="opt.name">{{opt.label_en}}</label>
            </div>

            <Row :gutter="16" v-if="opt.type == 'select'">
              <Col span="12">
                <span>{{opt.label_en}}: </span>
              </Col>
              <Col span="12">
                <span v-for="(option, index) in opt.values" v-if="option.value == opt.value_string">{{option.label_en}}</span>
              </Col>
            </Row>

            <Row :gutter="16" v-if="opt.type == 'checkbox-group'">
              <Col span="12">
                <span>{{opt.label_en}}: </span>
              </Col>
              <Col span="12">
                <CheckboxGroup>
                  <Checkbox v-for="option in opt.values" v-if="opt.value_string_array.includes(option.value)" :label="opt.name" :key="concatId(opt,option)" :value="option.value" disabled>
                    <span>{{option.label_en}}</span>
                  </Checkbox>
                </CheckboxGroup>
              </Col>
            </Row>

            <Row :gutter="16" v-if="opt.type == 'radio-group'">
              <Col span="12">
                <span>{{opt.label_en}}: </span>
              </Col>
              <Col span="12">
                <RadioGroup>
                  <Radio v-for="option in opt.values" v-if="option.value == opt.value_string" :label="opt.name" :key="concatId(opt,option)" :value="option.value" disabled>
                    <span>{{option.label_en}}</span>
                  </Radio>
                </RadioGroup>
              </Col>
            </Row>

            <Row :gutter="16" v-if="opt.type == 'file'">
              <Col span="12">
                <span>{{opt.label_en}}: </span>
              </Col>
              <Col span="12">
                <p><b> <a target="_blank" :href="opt.value || '#'">Open file url</a></b></p>
              </Col>
            </Row>

            <Row :gutter="16" v-if="opt.type == 'switch'">
              <Col span="12">
                <span>{{opt.label_en}}: </span>
              </Col>
              <Col span="12">
                <span v-if="opt.value_boolean == true">{{opt.labelActive}}</span>
                <span v-if="opt.value_boolean == false">{{opt.labelInactive}}</span>
              </Col>
            </Row>

            <Row :gutter="16" v-if="opt.type == 'range'">
              <Col span="12">
                <span>{{opt.label_en}}: </span>
              </Col>
              <Col span="12">
                <p>{{opt.value_int}}</p>
                <!-- <p>From: {{opt.value && opt.value[0]}}</p>
                <p>To: {{opt.value && opt.value[1]}}</p> -->
              </Col>
            </Row>

          </Col>
        </Row>
      </Form>
    </Col>

    <!-- Arabic Preview -->
  </Row>
</template>

<script>
export default {
  name: 'form-preview',
  props: {
    'schema': {},
    'showEnglish': {
      type: Boolean,
      default: () => {
        return true;
      }
    },
    'showArabic': {
      type: Boolean,
      default: () => {
        return true;
      }
    },
  },
  data () {
    return {
      schema_rows: []
    }
  },
  methods:{
    concatId: function(item,option){
      return item.name + option.value;
    }
  },
  computed: {},
  watch: {
    schema(newVal) {
      if (newVal) {
        if (newVal instanceof Array) {
          this.schema_rows = newVal
        } else {
          this.schema_rows = JSON.parse(newVal);
        }
      }
    }
  },
  created() {
    if (this.schema) {
      if (this.schema instanceof Array) {
        this.schema_rows = this.schema
      } else {
        this.schema_rows = JSON.parse(this.schema);
      }
    }
  }
}
</script>

<style scoped>

.ivu-form-item
{
  margin-bottom: 0px;
}
label {
  font-size: 1rem;
  font-weight: bolder !important;
  text-transform: capitalize !important;
}
.form-area > form{
  background-color: #f7f6f6;
  padding: 45px 45px 0px 45px !important;
  margin: 5px;
}
.ivu-slider-bar {
  background: #40a69a !important;
}
.ivu-slider-button-dragging, .ivu-slider-button:focus, .ivu-slider-button:hover {
  border-color: #40a69a !important;
}
.slider-bar .ivu-slider-wrap .ivu-slider-bar {
  background-color: #40a69a;
}

h3 {
  color: #2d8cf0;
}
.arabic-preview {
  direction: rtl;
  text-align: right;
}
.split {
  border-bottom: 3px dashed #c2c2c2;
  font-weight: 700;
  color: #495060;
  padding: 5px 0px;
}
.form-item {
  padding: 5px 0px;
}
</style>
