<style lang="less">
@import './editable-table.less';
.ivu-select-dropdown {
  // position: static !important;
}
</style>

<template>
  <div>
    <Table @on-row-click="handleRowClick" @on-current-change="handleCurrentRow" :row-class-name="rowClassName" :highlight-row="highlightRow" :ref="refs" :columns="columnsList" :data="thisTableData" border disabled-hover ></Table>
  </div>
</template>

<script>
import table2excel from '@/libs/table2excel.js';

const externalButton = (vm, h, currentRow, index, item) => {
  let type = item[0];
  let { name, action,buttonType,extra } = item[1];
  if(!buttonType){
    buttonType = 'primary';
  }

  if(extra == 'pause-action'){
   if(currentRow.partner.is_paused == 0){
    name = 'Pause';
   }else{
   name = 'Unpause';
   }
  }

  if(type == 'Poptip'){

  return h('Poptip', {
    props: {
      confirm: true,
      title: 'Are you sure you want to '+name+' this data?',
      transfer: true
    },
    on: {
      'on-ok': () => {
         vm.$emit(action, index, currentRow);
      }
    }
  }, [
    h('Button', {
      style: {
        margin: '0 5px'
      },
      props: {
        type: buttonType,
        placement: 'top'
      }
    },name)
  ]);

  }

  return h(type, {
    props: {
      type: buttonType,
      loading: false,
      disabled:(currentRow.isCompleted && currentRow.status != 'accepted')? true: false,
    },
    style: {
      margin: '0 5px'
    },
    on: {
      'click': () => {
        vm.$emit(action, index, currentRow);
      },

    }
  }, name);
};

const editButton = (vm, h, currentRow, index) => {
  return h('Button', {
    props: {
      type: currentRow.editting ? 'success' : 'primary',
      loading: currentRow.saving
    },
    style: {
      margin: '0 5px'
    },
    on: {
      'click': () => {
        if (!currentRow.editting) {
          if (currentRow.edittingCell) {
            for (let name in currentRow.edittingCell) {
              currentRow.edittingCell[name] = false;
              vm.edittingStore[index].edittingCell[name] = false;
            }
          }
          vm.edittingStore[index].editting = true;
          vm.thisTableData = JSON.parse(JSON.stringify(vm.edittingStore));
        } else {
          vm.edittingStore[index].saving = true;
          vm.thisTableData = JSON.parse(JSON.stringify(vm.edittingStore));
          let edittingRow = vm.edittingStore[index];
          edittingRow.editting = false;
          edittingRow.saving = false;
          vm.thisTableData = JSON.parse(JSON.stringify(vm.edittingStore));
          vm.$emit('input', vm.handleBackdata(vm.thisTableData));
          vm.$emit('on-change', vm.handleBackdata(vm.thisTableData), currentRow);
        }
      }
    }
  }, currentRow.editting ? 'save' : 'Edit');
};
const deleteButton = (vm, h, currentRow, index,itemType) => {

  let name_en = '';
  if(currentRow){
    name_en  = currentRow.name_en;
  }

  if(!name_en){
    name_en = 'this data';
  }

  return h('Poptip', {
    props: {
      confirm: true,
      title: 'Are you sure you want to '+itemType+' '+ name_en+'?',
      transfer: true
    },
    on: {
      'on-ok': () => {
	  if(itemType == 'cancel'){
	   vm.$emit('input', vm.handleBackdata(vm.thisTableData));
       vm.$emit('on-cancel', vm.handleBackdata(vm.thisTableData), currentRow);
	  }else{
	     vm.thisTableData.splice(index, 1);
	     vm.$emit('input', vm.handleBackdata(vm.thisTableData));
       vm.$emit('on-delete', vm.handleBackdata(vm.thisTableData), currentRow);
	  }

      }
    }
  }, [
    h('Button', {
      style: {
        margin: '0 5px'
      },
      props: {
        type: (itemType == 'cancel') ? 'warning':'error',
        placement: 'top'
      }
    }, (itemType == 'cancel') ? 'Cancel' : 'Delete')
  ]);
};
const incellEditBtn = (vm, h, param) => {
  if (vm.hoverShow) {
    return h('div', {
      'class': {
        'show-edit-btn': vm.hoverShow
      }
    }, [
      h('Button', {
        props: {
          type: 'text',
          icon: 'edit'
        },
        on: {
          click: (event) => {
            vm.edittingStore[param.index].edittingCell[param.column.key] = true;
            vm.thisTableData = JSON.parse(JSON.stringify(vm.edittingStore));
          }
        }
      })
    ]);
  } else {
    let currentRow = vm.thisTableData[param.index];
    let column = param.column;
    if (column.isEditable == undefined || (column.isEditable && column.isEditable(currentRow))) {
      return h('Button', {
        props: {
          type: 'text',
          icon: 'edit',
        },
        class: 'edit-success-btn',
        on: {
          click: (event) => {
            vm.edittingStore[param.index].edittingCell[param.column.key] = true;
            vm.thisTableData = JSON.parse(JSON.stringify(vm.edittingStore));
          }
        }
      });
    }
  }
};
const saveIncellEditBtn = (vm, h, param) => {
  return h('Button', {
    props: {
      type: 'text',
      icon: 'checkmark',
    },
    class: 'edit-success-btn',
    on: {
      click: (event) => {
        vm.edittingStore[param.index].edittingCell[param.column.key] = false;
        vm.thisTableData = JSON.parse(JSON.stringify(vm.edittingStore));
        vm.$emit('input', vm.handleBackdata(vm.thisTableData));
        vm.$emit('on-cell-change', vm.handleBackdata(vm.thisTableData), param.index, param.column.key);
      }
    }
  });
};
const cellInput = (vm, h, param, item) => {
  let { type, props } = item;
  let options = [];
  if (type == 'Select') {
  if(props.options){
   options = props.options;
  }else{
   options = item.renderOptions(param);
  }
    return h('Select', {
      props: {
        value: props.selected,
        'label-in-value': true,
        label: item[props.default_key],
      },
      on: {
        'on-change' (event) {
          let key = item.key;
          let { value, label } = event;
          if (!vm.edittingStore[param.index][key]){
            vm.edittingStore[param.index][key] = {};
          }
          if (!vm.edittingStore[param.index][props.foreign_key]){
            vm.edittingStore[param.index][props.foreign_key] = {};
          }

		  if(props.foreign_key == 'countable_item_id'){
		  let exist = false;
		  vm.edittingStore.map( (row,rowIndex) => {
			if (row.countable_item_id == value && rowIndex != param.index) {
			  exist = true;
			  vm.$Message.error('serial number already selected');
			}
      });
	   vm.edittingStore[param.index][key] = '';
	    if(!exist){
		  vm.edittingStore[param.index][props.foreign_key] = value;
          vm.edittingStore[param.index][key + '_new_object'] = {'value': value, 'label': label};
          vm.edittingStore[param.index][key] = label;

		}
	  }else{
          vm.edittingStore[param.index][props.foreign_key] = value;
          vm.edittingStore[param.index][key + '_new_object'] = {'value': value, 'label': label};
          vm.edittingStore[param.index][key] = label;
        }
	  },
      'on-change' (event) {
        let key = item.key;
        let { value, label } = event;
        if (!vm.edittingStore[param.index][key]){
          vm.edittingStore[param.index][key] = {};
        }
        if (!vm.edittingStore[param.index][props.foreign_key]){
          vm.edittingStore[param.index][props.foreign_key] = {};
        }

		if(props.foreign_key == 'countable_item_id'){

		  let exist = false;
		  vm.edittingStore.map( (row,rowIndex) => {
			if (row.countable_item_id == value && rowIndex != param.index) {
			  exist = true;
			  vm.$Message.error('serial number already selected');
			}
       });
	   vm.edittingStore[param.index][key] = '';
	    if(!exist){
		  vm.edittingStore[param.index][props.foreign_key] = value;
          vm.edittingStore[param.index][key + '_new_object'] = {'value': value, 'label': label};
          vm.edittingStore[param.index][key] = label;
		}
	  }else{

         vm.edittingStore[param.index][props.foreign_key] = value;
         vm.edittingStore[param.index][key + '_new_object'] = {'value': value, 'label': label};
         vm.edittingStore[param.index][key] = label;
	   }
        vm.edittingStore[param.index].edittingCell[param.column.key] = false;
        vm.thisTableData = JSON.parse(JSON.stringify(vm.edittingStore));
        vm.$emit('input', vm.handleBackdata(vm.thisTableData));
        vm.$emit('on-cell-change', vm.handleBackdata(vm.thisTableData), param.index, param.column.key);

      }
     }
    },
    options.map(option => h('Option', {
      props: {
        value: (option.id)?option.id : option,
        label: item.renderOption(option)
      }
    })));
  }

  if (type == 'InputNumber') {
    return h('InputNumber', {
      props: {
	    min:1,
        type: 'Number',
        value: (vm.edittingStore[param.index][item.key]) ?  parseInt(vm.edittingStore[param.index][item.key]) : vm.edittingStore[param.index][item.key],
      },
      on: {
        'on-change' (value) {
          let key = item.key;
          vm.edittingStore[param.index][key] = value;
        },
        'on-blur' () {
            vm.edittingStore[param.index].edittingCell[param.column.key] = false;
            vm.thisTableData = JSON.parse(JSON.stringify(vm.edittingStore));
            vm.$emit('input', vm.handleBackdata(vm.thisTableData));
            vm.$emit('on-cell-change', vm.handleBackdata(vm.thisTableData), param.index, param.column.key);

        },
      }
    });
  }

  return h('Input', {
    props: {
      type: 'text',
      value: vm.edittingStore[param.index][item.key]
    },
    on: {
      'on-change' (event) {
        let key = item.key;
        vm.edittingStore[param.index][key] = event.target.value;
      },
      'on-blur' (event) {
        let key = item.key;
        vm.edittingStore[param.index][key] = event.target.value;

        vm.edittingStore[param.index].edittingCell[param.column.key] = false;
        vm.thisTableData = JSON.parse(JSON.stringify(vm.edittingStore));
        vm.$emit('input', vm.handleBackdata(vm.thisTableData));
        vm.$emit('on-cell-change', vm.handleBackdata(vm.thisTableData), param.index, param.column.key);

      }
    }
  });
};
export default {
  name: 'canEditTable',
  props: {
    rowClassName: Function,
    refs: String,
    'highlightRow': {
      type: Boolean,
      default: false
    },
    columnsList: Array,
    value: Array,
    url: String,
    editIncell: {
      type: Boolean,
      default: false
    },
    hoverShow: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      columns: [],
      thisTableData: [],
      edittingStore: [],
    };
  },
  created () {
    this.init();
  },
  methods: {

    init () {
      let vm = this;
      let editableCell = this.columnsList.filter(item => {
        if (item.editable) {
          if (item.editable === true) {
            return item;
          }
        }
      });
      let cloneData = JSON.parse(JSON.stringify(this.value));
      let res = [];
      res = cloneData.map((item, index) => {
        let isEditting = false;
        if (this.thisTableData[index]) {
          if (this.thisTableData[index].editting) {
            isEditting = true;
          } else {
            for (const cell in this.thisTableData[index].edittingCell) {
              if (this.thisTableData[index].edittingCell[cell] === true) {
                isEditting = true;
              }
            }
          }
        }
        if (isEditting) {
          return this.thisTableData[index];
        } else {
          this.$set(item, 'editting', false);
          let edittingCell = {};
          editableCell.forEach(item => {
            edittingCell[item.key] = false;
          });
          this.$set(item, 'edittingCell', edittingCell);
          return item;
        }
      });
      this.thisTableData = res;
      this.edittingStore = JSON.parse(JSON.stringify(this.thisTableData));
      this.columnsList.forEach(item => {
        if (item.editable) {
          item.render = (h, param) => {
            let currentRow = this.thisTableData[param.index];
			if(currentRow){
            if (!currentRow.editting) {
              if (this.editIncell) {
                let default_key = param.column && param.column.props && param.column.props.default_key;
                let default_value = (item.renderLabel && item.renderLabel(param)) || currentRow[item.key] && currentRow[item.key][default_key];

                return h('div', {
                  props: {
                    // type: 'flex',
                    // align: 'middle',
                    // justify: 'center'
                  }
                }, [
                  h('span', {
                    style: {'width': '90%', 'display': 'inline-block'},
                  }, [
                    !currentRow.edittingCell[param.column.key] ? (default_value || currentRow[item.key] || param.column.default) : cellInput(this, h, param, item)
                  ]),
                  h('span', {
                    style: {'width': '10%', 'display': 'inline-block'},

                  }, [
                    currentRow.edittingCell[param.column.key] ? saveIncellEditBtn(this, h, param) : incellEditBtn(this, h, param)
                  ])
                ]);
              } else {
                return h('span', currentRow[item.key]);
              }
            } else {
              return h('Input', {
                props: {
                  type: 'text',
                  value: currentRow[item.key]
                },
                on: {
                  'on-change' (event) {
                    let key = param.column.key;
                    vm.edittingStore[param.index][key] = event.target.value;
                  },
                }
              });
            }
		   }
          };
        }
        if (item.handle) {
          item.render = (h, param) => {

            let currentRowData = this.thisTableData[param.index];
            let children = [];
            item.handle.forEach(item => {
              if (item === 'edit') {
			    if(param.row.acl.edit && param.row.acl){
                children.push(editButton(this, h, currentRowData, param.index));

			   }else{
                children.push(editButton(this, h, currentRowData, param.index));
				}
              } else if (item === 'delete' || item === 'cancel') {
				  if(param.row.acl && param.row.acl.delete && item == 'delete'){
                    children.push(deleteButton(this, h, currentRowData, param.index,item));
				  }
				  else if(param.row.acl && param.row.acl.cancel && item == 'cancel'){
                    children.push(deleteButton(this, h, currentRowData, param.index,item));
				  }
				else{
                 children.push(deleteButton(this, h, currentRowData, param.index,item));
				}
              } else if (Array.isArray(item) && item[0] != '') {
			    if(param.row.acl && param.row.acl.edit && item[1].name == 'Edit'  ){
                 children.push(externalButton(this, h, currentRowData, param.index, item));
				 }else{
                 children.push(externalButton(this, h, currentRowData, param.index, item));
				}
              }
            });
            return h('div', children);
          };
        }
      });
    },
    handleBackdata (data) {
      let clonedData = JSON.parse(JSON.stringify(data));
      clonedData.forEach(item => {
        delete item.editting;
        delete item.edittingCell;
        delete item.saving;
      });
      return clonedData;
    },
    handleCurrentRow (row) {
      if(row){
        this.$emit('on-current-change', row);
      }
    },
    handleRowClick (index, row) {
        this.$emit('on-row-click', index, row);
    },
    clearRow(ref){
      var ref = typeof ref !== 'undefined' ? ref : '';
      if(ref == 'user'){
        this.$refs.userTable.clearCurrentRow();
      }else{
        this.$refs.partnerTable.clearCurrentRow();
      }
    },
    clearCurrentRow() {
      this.$refs[this.refs].clearCurrentRow();
    },
    exportToExcel() {
      if (this.refs) {
        table2excel.transform(this.$refs[this.refs], 'hrefToExportTable', 'data-table');
      }
    },
  },
  watch: {
    value (data) {
      this.init();
    }
  }
};
</script>

<style>

.ivu-table-cell {
  word-break: break-word !important;
}

.edit-success-btn {
  padding: 6px !important;
}



</style>
