<style lang="less">
@import './login.less';
</style>

<template>
  <div class="login" @keydown.enter="handleSubmit">
    <div class="login-con">
      <Card :bordered="false">
        <p slot="title">
          <Icon type="log-in"></Icon>
          {{ $t('Forget password') }}
        </p>
        <div class="form-con">
          <Form ref="forgetPasswordForm" :model="form" :rules="rules">
            <FormItem prop="email">
              <Input v-model="form.email" :placeholder="$t('email')">
                <span slot="prepend">
                  <Icon :size="16" type="person"></Icon>
                </span>
              </Input>
            </FormItem>
            <FormItem>
              <Button @click="handleSubmit" type="primary" long>{{ $t('reset') }}</Button>
            </FormItem>
          </Form>
        </div>
      </Card>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
import { USER_EMPTY_IMAGE_URL } from './../../config/constants';

export default {
    data () {
        return {
            form: {
                email: ''
            },
            rules: {
                email: [
                    { required: true, message: 'Email is required', trigger: 'blur' }
                ]
            }
        };
    },
    methods: {
        ...mapActions([
            'forgetPassword'
        ]),
        handleSubmit () {
            this.$refs.forgetPasswordForm.validate((valid) => {
                if (valid) {
                    this.forgetPassword({ params: { email: this.form.email},
                        success: (response) => {
                            this.$Message.success(response.message, 200);
                        },
                        error: (error) => {
                            this.$Message.error('The given data was invalid.', 300);
                        }});
                }
            });
        }
    }
};
</script>

<style>

</style>
