<style lang="less">
@import './login.less';
</style>

<template>
  <div class="login" @keydown.enter="handleSubmit">
    <div class="login-con">
      <Card :bordered="false">
        <p slot="title">
          <Icon type="log-in"></Icon>
          {{ $t('login') }}
        </p>
        <div class="form-con">
          <Form ref="loginForm" :model="form" :rules="rules">
            <FormItem prop="login">
              <Input v-model="form.login" :placeholder="$t('email')">
                <span slot="prepend">
                  <Icon :size="16" type="person"></Icon>
                </span>
              </Input>
            </FormItem>
            <FormItem prop="password">
              <Input type="password" v-model="form.password" :placeholder="$t('password')">
                <span slot="prepend">
                  <Icon :size="14" type="locked"></Icon>
                </span>
              </Input>
            </FormItem>
            <FormItem>
              <Button @click="handleSubmit" type="primary" long>{{ $t('login') }}</Button>
            </FormItem>
          </Form>
		  <p>
		  <router-link to="forgetPassword" class="login-tip">forget password ?</router-link>
		  </p>
        </div>
      </Card>
    </div>
  </div>
</template>

<script>
import Cookies from 'js-cookie';
import { mapActions } from 'vuex';
import { USER_EMPTY_IMAGE_URL } from './../../config/constants';

export default {
    data () {
        return {
            form: {
                login: '',
                password: ''
            },
            rules: {
                login: [
                    { required: true, message: 'Email/Username is required', trigger: 'blur' }
                ],
                password: [
                    { required: true, message: 'Password is required', trigger: 'blur' }
                ]
            }
        };
    },
    methods: {
        ...mapActions([
            'login'
        ]),
        handleSubmit () {
            this.$refs.loginForm.validate((valid) => {
                if (valid) {
                    this.login({ params: { login: this.form.login, password: this.form.password },
                        success: (response) => {
                            Cookies.set('user', (response.user.first_name || response.user.last_name) ? response.user.first_name + ' ' + response.user.last_name : response.user.username);
                            Cookies.set('login', this.form.login);
                            Cookies.set('password', this.form.password);
                            Cookies.set('roles', response.user.roles_codes);
                            Cookies.set('authorization', response.access_token);
                            Cookies.set('userId', response.user.id);
                            this.$store.commit('setAvator', USER_EMPTY_IMAGE_URL);
                            if (response.user.is_super == 1) {
                                Cookies.set('access', 1);
                            } else {
                                Cookies.set('access', 0);
                            }
                            this.$router.push({
                                name: 'home_index'
                            });
                        },
                        error: (error) => {
                            this.$Message.error('Email or password is invalid', 300);
                        }});
                }
            });
        }
    }
};
</script>

<style>

</style>
