.login{
    width: 100%;
    height: 100%;
    background-image: url('./../../images/login_bg_white.png');
    background-size: cover;
    background-position: center;
    position: relative;
    color: #fff;
    .ivu-card-head p {
      color: #fff;
    }
    .ivu-form-item-error-tip {
      color: #14120f;
    }
    .ivu-btn-long {
      color: #fff;
      background-color: #141210;
      border-color: #141210;
    }
    .ivu-input-group-append,
    .ivu-input-group-prepend,
    .ivu-input-group-append:hover,
    .ivu-input-group-prepend:hover {
     color: #e1942c;
    }
    &-con{
        position: absolute;
        right: 64px;
        top: 50%;
        transform: translateY(-60%);
        width: 300px;
        .ivu-card{
          background: #de8d1ced;
        }
        &-header{
            font-size: 16px;
            font-weight: 300;
            text-align: center;
            padding: 30px 0;
        }
        .form-con{
            padding: 10px 0 0;
        }
        .login-tip{
            font-size: 10px;
            text-align: center;
            color: #fff;//#c3c3c3;
        }
    }
}
