<style lang="less">
@import './login.less';
</style>

<template>
  <div class="login" @keydown.enter="handleSubmit">
    <div class="login-con">
      <Card :bordered="false">
        <p slot="title">
          <Icon type="log-in"></Icon>
          {{ $t('reset password') }}
        </p>
        <div class="form-con">
          <Form ref="resetPasswordForm" :model="form" :rules="rules">
            <FormItem prop="email">
              <Input v-model="form.email" :placeholder="$t('email')">
                <span slot="prepend">
                  <Icon :size="16" type="person"></Icon>
                </span>
              </Input>
            </FormItem>
            <FormItem prop="password">
              <Input type="password" v-model="form.password" :placeholder="$t('password')">
                <span slot="prepend">
                  <Icon :size="14" type="locked"></Icon>
                </span>
              </Input>
            </FormItem>
			<FormItem prop="password_confirmation">
              <Input type="password" v-model="form.password_confirmation" :placeholder="$t('confirm password')">
                <span slot="prepend">
                  <Icon :size="14" type="locked"></Icon>
                </span>
              </Input>
			  <span v-if="this.form.password != this.form.password_confirmation" style="color:red"> confirm password not matched </span>
            </FormItem>
            <FormItem>
              <Button @click="handleSubmit" type="primary" long>{{ $t('reset') }}</Button>
            </FormItem>
          </Form>
		  		  <router-link to="login" class="login-tip">Login again ?</router-link>

        </div>
      </Card>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
import { USER_EMPTY_IMAGE_URL } from './../../config/constants';

export default {
    data () {
        return {
            form: {
                email: '',
                password: '',
                password_confirmation: ''
            },
            rules: {
                email: [
                    { required: true, message: 'Email is required', trigger: 'blur' }
                ],
                password: [
                    { required: true, message: 'Password is required', trigger: 'blur' }
                ],
                password_confirmation: [
                    { required: true, message: 'Confirm password is required', trigger: 'blur' }
                ]
            }
        };
    },
    created () {
        this.token = this.$route.params.token;
    },
    methods: {
        ...mapActions([
            'resetPassword'
        ]),
        handleSubmit () {
            this.$refs.resetPasswordForm.validate((valid) => {
                if (valid && (this.form.password == this.form.password_confirmation)) {
                    this.resetPassword({ params: { email: this.form.email, password: this.form.password, password_confirmation: this.form.password_confirmation, token: this.token },
                        success: (response) => {
                            this.$Message.success(response.message, 200);
                            console.log(response);
                        },
                        error: (error) => {
                            this.$Message.error('The given data was invalid', 300);
                        }});
                }
            });
        }
    }
};
</script>

<style>

</style>
